# Copie ce fichier en .env et adapte les valeurs

# Ports
# Ports FIXES (ne pas modifier pour l'épreuve)
FRONTEND_PORT=8081
BACKEND_PORT=3000

# PostgreSQL (container postgres)
POSTGRES_DB=vitalsync
POSTGRES_USER=vitalsync
POSTGRES_PASSWORD=change_me_in_real

# Backend DB (utilisé par le service backend)
DB_HOST=postgres
DB_PORT=5432
DB_NAME=vitalsync
DB_USER=vitalsync
DB_PASSWORD=change_me_in_real

# Divers
NODE_ENV=production
